<!doctype html>
<html ng-app="progress">
<head>
<meta charset="utf-8">
<title>Progress Bars</title>
<!--mystyle-->
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="main_bar_container" ng-controller="ProgressDemoCtrl">
	<h2>Assignment Test</h2>
    
    <div ng-repeat="step in steps">
    <div ng-repeat="(key, value) in step">

    <div id="{{key}}" style="width : {{value}}">
    </div>
  
    </div>
</div>



<div ng-repeat="item in products">
<div class="progress">
        <div id="{{item.value}}" style="width : {{item.view}}%" class="progress-bar">
 {{item.width}}
        </div>
        </div>
    </div>
    
	
    
    <!--<div class="progress-bar second">
    	<span class="progress-staus" style="width:45%;"></span>
    </div>
    
    <div class="progress-bar third">
    	<span class="progress-staus" style="width:85%;"></span>
    </div> -->
    
    <div class="button_group">
    	<div class="select_op">
    	 <select ng-model="productList" ng-options="product as product.label for product in products" required>           
   		 </select>
        </div>
        
        <button type="button" ng-click="progress(33,'+')" value="">33</button>
        <button type="button" ng-click="progress(9,'+')">9</button>
        <button type="button" ng-click="progress(11,'-')">-11</button>
        <button type="button" ng-click="progress(7,'-')">-7</button>	
        
    </div>
    
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/app.js"></script>




</body>
</html>
